version: 2.4
services:
  detector:
    build: ./detector
    tty: true
    devices:
      - /dev/dri:/dev/dri
    privileged: true
    ports:
      - "80:8080"

  hailo-kmod:
    build:
      context: ./hailo-kmod
      dockerfile: Dockerfile.template
      args:
        OS_VERSIONS: "6.10.22 6.10.24"
    privileged: true
    restart: on-failure
    labels:
      io.balena.features.kernel-modules: '1'
      io.balena.features.extra-firmware: '1'
    network_mode: host
