version: 2.4
volumes:
  firmware-volume:
    driver: local
    driver_opts:
      type: none
      o: bind,rshared,rw
      device: /run/mount
services:
  detector:
    build: ./detector
    tty: true
    labels:
      io.balena.features.kernel-modules: '1'
    volumes:
      - 'firmware-volume:/data'
    devices:
      - /dev/dri:/dev/dri
    privileged: true
    ports:
      - "80:8080"

  hailo-kmod:
    build:
      context: ./hailo-kmod
      dockerfile: Dockerfile.template
      args:
        OS_VERSION: 6.9.4+rev1
    privileged: true
    restart: on-failure
    labels:
      io.balena.features.kernel-modules: '1'
    volumes:
      - 'firmware-volume:/run/mount'
    network_mode: host
